body    {
    background-color: blue;
}

h1  {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: crimson;
    padding-left: 80px;
}

h3  {
    font-family: monospace;
    color: gold;
}

div {
    font-family: Arial, Helvetica, sans-serif;
    color: greenyellow;
}

#menuBG {
    width: 600px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu    {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left   {
    width: 200px;
    height: 200px;
    float: left;
}

.middle     {
    width: 200px;
    height: 200px;
    float: left;
}

.right  {
    width: 200px;
    height: 200px;
    float: left;
}

#showText   {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart   {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder   {
    margin: 10px 0px 0px 200px;
    width: 100px;
    height: 40px;
}